html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main {
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  color: #fff;
}

.left-panel {
  flex: 1;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center-panel {
  background-color: #1e1e1e;
  flex: 4;
  height: 100vh;
  overflow-y: auto;
}

/****** LEFT PANEL *******/

.libraries {
  background-color: #707070;
  flex: 2;
  height: 100%;
  overflow: auto;
}

.documents {
  flex: 6;
  background: #5c5c5c;
  height: 100%;
  overflow: auto;
}

.button-area {
  flex: 1;
  background: #484848;
  color: #fff;
}

.button-area-content {
  padding: 10px;
}

.libraries-header,
.documents-header,
.filepath-header {
  padding: 8px;
  background: #343434;
  font-size: 12px;
}

.libraries-content,
.documents-content {
  padding: 8px;
}

/***** CENTER PANEL ******/

.group {
  display: flex;
}

.group-label {
  display: flex;
  color: #fff;
}

.color-marker {
  background: #04a5ff;
  height: 100%;
  width: 4px;
}

.group-label-text {
  writing-mode: vertical-lr;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 5px;
}

.slides {
  flex: 1;
  background: #aeaeae;
}

.slide-header {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-size: 14px;
}

.slide-body {
  padding: 12px;
  font-size: 20px;
}

div {
  white-space: pre-wrap;
}
