html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main {
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  color: #fff;
}

.left-panel {
  flex: 1;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center-panel {
  background-color: #1e1e1e;
  flex: 4;
  height: 100vh;
  overflow-y: auto;
}

/****** LEFT PANEL *******/

.libraries {
  background-color: #5c5c5c;
  flex: 2;
  height: 100%;
  overflow: auto;
}

.documents {
  flex: 6;
  background: #353535;
  height: 100%;
  overflow: auto;
}

.button-area {
  flex: 1;
  background: #353535;
  color: #fff;
}

.button-area-content {
  padding: 10px;
}

.button-area-spacer {
  display: flex;
  gap: 8px;
}

.libraries-header,
.documents-header,
.filepath-header {
  padding: 8px;
  background: #1e1e1e;
  font-size: 12px;
}

.libraries-content,
.documents-content {
  padding: 8px;
}

/***** CENTER PANEL ******/

.group {
  display: flex;
}

.group-label {
  display: flex;
  color: #fff;
}

.color-marker {
  background: #04a5ff;
  height: 100%;
  width: 4px;
}

.group-label-text {
  writing-mode: vertical-lr;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 5px;
}

.slides {
  flex: 1;
  background: #aeaeae;
}

.slide-header {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-size: 14px;
}

.slide-body {
  padding: 12px;
  font-size: 20px;
}

div {
  white-space: pre-wrap;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  background: #aeaeae;
  font-size: 24px !important;
  padding: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* letter-spacing: 0.2px; */
}

/***** ALERT ******/

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #aeaeae;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.alert-header {
  background: #343434;
  color: #fff;
  padding: 8px;
  padding-left: 12px;
  font-size: 14px;
}

.alert-content {
  padding: 12px;
}

.alert-button-spacer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/***** BUTTONS ******/
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.list-button {
  margin-right: 2px;
  padding: 3px;
  color: #fff;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 4px;
  border: #00000000 solid 1px;
  width: 100%;
  text-align: left;
}

.list-button:hover {
  background: #484848;
  border: #aeaeae solid 1px;
}

.button {
  text-align: center !important;
  flex: 1;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 6px;
  margin-top: 6px;
}

.button-standard {
  background-color: #6e6e6e;
}

.button-standard:hover {
  background-color: #484848;
}

.button-inverted {
  background-color: #484848;
}

.button-inverted:hover {
  background-color: #6e6e6e;
}
